<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Categoria</h1>

		<f:flashMessages />

		<table  class="tx_estadisticaunalnew" >
			<tr>
				<th><f:translate key="tx_estadisticaunalnew_domain_model_categoria.nombre" /></th>
				<th><f:translate key="tx_estadisticaunalnew_domain_model_categoria.nombre_display" /></th>
				<th><f:translate key="tx_estadisticaunalnew_domain_model_categoria.badge" /></th>
				<th><f:translate key="tx_estadisticaunalnew_domain_model_categoria.alt_badge" /></th>
				<th><f:translate key="tx_estadisticaunalnew_domain_model_categoria.descripcion" /></th>
				<th><f:translate key="tx_estadisticaunalnew_domain_model_categoria.link" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{categorias}" as="categoria">
				<tr>
					<td><f:link.action action="show" arguments="{categoria : categoria}"> {categoria.nombre}</f:link.action></td>
					<td><f:link.action action="show" arguments="{categoria : categoria}"> {categoria.nombreDisplay}</f:link.action></td>
					<td><f:link.action action="show" arguments="{categoria : categoria}"> {categoria.badge.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{categoria : categoria}"> {categoria.altBadge.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{categoria : categoria}"> {categoria.descripcion}</f:link.action></td>
					<td><f:link.action action="show" arguments="{categoria : categoria}"> {categoria.link}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{categoria : categoria}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{categoria : categoria}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Categoria</f:link.action>
	</f:section>
</html>