<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />

	<div class="container-fluid">
		<div class="row row-eq-height flexthis">
			<f:for each="{categorias}" as="categoria" iteration="iterator">
				<div class="col-md-3 col-sm-6 col-xs-12 badgeCategoria" >

					<f:if condition="{categoria.link}">
						<f:then>
							<f:link.typolink parameter="{categoria.link}" target="_blank" class="colour-shifter"  additionalParams="&u=b" additionalAttributes="{type:'button'}">
								<img src="{categoria.badge.originalResource.publicUrl}"
									 data-altbadge="{categoria.altBadge.originalResource.publicUrl}"
									 data-badge="{categoria.badge.originalResource.publicUrl}"
									 class="unBadge img-responsive" width=100%>
								<div class="row">
									<h4>{categoria.nombreDisplay}</h4>
								</div>
							</f:link.typolink>
						</f:then>
						<f:else>
							<f:link.action class="colour-shifter" action="show" arguments="{categoria : categoria}" >
								<img src="{categoria.badge.originalResource.publicUrl}"
									 data-altbadge="{categoria.altBadge.originalResource.publicUrl}"
									 data-badge="{categoria.badge.originalResource.publicUrl}"
									 class="unBadge img-responsive" width=100%>
								<div class="row">
									<h4>{categoria.nombreDisplay}</h4>
								</div>
							</f:link.action>									
						</f:else>
					</f:if>
				</div>	

				{f:if(condition: "{iterator.cycle} % 4==0", then: '<div class="clearfix visible-lg visible-md"></div>')}
				{f:if(condition: "{iterator.cycle} % 2==0", then: '<div class="clearfix visible-sm"></div>')}
				
			</f:for>
		</div>
	</div>

</f:section>
</html>