<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />

	<div class="container-fluid">
		<div class="row row-eq-height flexthis">
			<f:for each="{categorias}" as="categoria" iteration="iterator">
				<div class="col-md-3 col-sm-6 col-xs-12 badgeCategoria" >

					<f:if condition="{categoria.link}">
						<f:then>
							<f:link.typolink parameter="{categoria.link}" target="_blank" class="colour-shifter"  additionalParams="&u=b" additionalAttributes="{type:'button'}">
								<img src="{categoria.badge.originalResource.publicUrl}"
									 data-altbadge="{categoria.altBadge.originalResource.publicUrl}"
									 data-badge="{categoria.badge.originalResource.publicUrl}"
									 class="unBadge img-responsive" width=100%>
								<div class="row">
									<h4>{categoria.nombreDisplay}</h4>
								</div>
							</f:link.typolink>
						</f:then>
						<f:else>
							<a class="colour-shifter categoriaLink" data-nombre="{categoria.nombreDisplay}"  data-iframe="{categoria.iframe}">
								<img src="{categoria.badge.originalResource.publicUrl}"
									 data-altbadge="{categoria.altBadge.originalResource.publicUrl}"
									 data-badge="{categoria.badge.originalResource.publicUrl}"
									 class="unBadge img-responsive" width=100%>
								<div class="row">
									<h4>{categoria.nombreDisplay}</h4>
								</div>								
							</a>								
						</f:else>
					</f:if>
				</div>	

				{f:if(condition: "{iterator.cycle} % 4==0", then: '<div class="clearfix visible-lg visible-md"></div>')}
				{f:if(condition: "{iterator.cycle} % 2==0", then: '<div class="clearfix visible-sm"></div>')}
				
			</f:for>
		</div>
	</div>

	<!-- Modal -->
	<div id="dashboard" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content unModal-content">


				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
					<img src="/typo3conf/ext/estadistica_unal/Resources/Public/Images/Escudo_unal_2016.png" style="width: 25px;margin-top: -5px;margin-right: 10px;"   	align="left">
					<h3 class="modal-title">

						<a id="linkDashboardTitle">						
							<span  id="modalTitle"></span>
						</a>

						<small>
							<span class="glyphicon glyphicon-question-sign" 
								data-placement="bottom" 
								data-toggle="tooltip" 
								title="
									<f:translate key="LLL:EXT:estadistica_unal_new/Resources/Private/Language/locallang_csh_tx_estadisticaunalnew_domain_model_categoria.xlf:categorias.tooltip_dashboard" />
								">							  
							</span>
						</small>
					</h3>
				</div>


				<div class="modal-body">

					<iframe id="iframeDashboard">

					</iframe> 
				
				</div>

			</div>

		</div>
	</div>



</f:section>
</html>