<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />
    <div class="protocolo container-fluid">
        
        <div class="panel panel-default panel-protocolo">
            <div class="panel-heading"><h4>{categoria.nombreDisplay}</h4></div>
            <div class="panel-body">
                <p><f:format.html>{categoria.descripcion}</f:format.html></p>
                <div class="atributos">
                    <table class="header-fixed" id="table-atributos-generales-new">
                        <colgroup>
                        <col width="10%">
                    </colgroup>
                        <thead>					  		
                        <tr>
                            <th>
                                <f:translate key="LLL:EXT:estadistica_unal_new/Resources/Private/Language/locallang_csh_tx_estadisticaunalnew_domain_model_atributo.xlf:atributo.description" />
                            </th>
                            <th>
                                <f:translate key="LLL:EXT:estadistica_unal_new/Resources/Private/Language/locallang_csh_tx_estadisticaunalnew_domain_model_atributo.xlf:definicion.description" />
                            </th>
                        </tr>		
                        </thead>
                        <f:for each="{categoria.atributos}" as="atributo">
                            <tr>
                                <td>
                                        {atributo.tipo.nombreDisplay}
                                </td>
                                <td>
                                    <f:format.html>{atributo.descripcion}</f:format.html>
                                </td>
                            </tr>							  
                        </f:for>					 		  
                    </table>
                    <button 
                    type="button" 
                    class="btn btn-info btn-lg tableToPDFNew" 
                    data-table="table-atributos-generales-new" 
                    data-name="<f:translate key="LLL:EXT:estadistica_unal_new/Resources/Private/Language/locallang_csh_tx_estadisticaunalnew_domain_model_categoria.xlf:protocolo.atributos_generales" />  - {categoria.nombreDisplay}  "
                    data-colwidths='["auto","auto"]'
                    >
                        <f:translate key="LLL:EXT:estadistica_unal_new/Resources/Private/Language/locallang.xlf:tx_estadisticaunal.descargar_pdf" />
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>


        
                </div>
            </div>
            
            
        </div>
        
    </div>

</f:section>
</html>

