.tx-estadistica-unal-new{

    $headings : h1 h2 h3 h4 h5 h6;

    .modal{

        @media (min-width: 768px){
            .modal-dialog {
                width: 700px;
            }	
            .modal-lg {
                width: 92% !important;
            }			
        }

        .unModal-content{

            background-color: #f6f7f7;
            border-radius: 15px;
            border: dimgrey;
            border-style: solid;
            border-width: 4px;

            .tab-content{
                background-color: transparent;
                box-shadow: none;
                padding: unset;			
                text-align: center;
                margin:5px;
            }

            .nav-pills{			
                padding: 10px;
                background-color: white;
                border-radius: 10px;
                box-shadow: 0px 0px 10px 1px #ffe0e0;
            }

            .container-fluid{			
                padding: unset;
            }		
        }




        iframe{
            width: 100%;
            height: 80vh;
            background: url(../Images/loader.gif) center center no-repeat;
        }	

        .panelArchivos{

            @each $heading in $headings{
            #{$heading} {
                margin-bottom: 15px;
            }
            }

            font-size: 16px;
            padding: 5px 5px 15px 5px;
            font-size: 16px;
            background-color: white;
            border-radius: 20px;
            box-shadow: 0px 0px 10px 1px #ffe0e0;
            margin-bottom: 10px; 
            margin-top: 10px;     	
            padding: 0.5em;

            .nav-pills{	

                background: transparent;
                box-shadow: unset;
                padding: 0% 0.5%;

            }	

            @media(min-width:766px){		
                li + li {
                    padding-left: 0.2em;
                }
            }

            .jssocials-share {
                display: initial;
                margin: -0.2em;
                padding: 5px;
                overflow: hidden;
                a{
                    border-radius:5px;
                    margin: 0.1em 0;
                }
            }

            .share-panel{
                background: gainsboro;
                margin: 0%;
                margin-top: 0.4em;
                border-radius: 5px;
                padding:1%;
                label{
                    margin:1% 0%;
                }

                .form-control{
                    border-radius: 5px;
                }

            }	

            .share-button {
                background-color: lightslategray;
                border-color: gray;
            }
            .share-button:hover{
                background-color: slategray;
                border-color: darkgray;
            }
            
            
        }

        .halfTabPane{
            @media screen and (min-width: 992px) {
                width :49.1%;			
            }

            @media screen and (max-width: 992px) {
                width :100%;
            }
        }


        .regularActual{
            float: right !important;
        }

        .nav li.active > a.historico {
            background-color: #88ad84!important;
        }

        .nav li.active > a.actual{
            background-color: #debfbf	!important;
        }

        .tooltip{
            font-size: 0.85em;
        }

        .glyphicon{
            margin-left: 5px;
        }

        a{
            color : #333333;
        }

        ul{
            margin-left:0px;
        }

        .modal-title{
            line-height: 25px;
        }

        .modal-body{

            font-size: 20px;

            .nav li.active > a{
                background-color: #636363;
            }

            .tab-content{
                .nav li > a{
                    margin: 10px 3px;
                    box-shadow: 0px 0px 15px rgba(136, 136, 136, 0.5);
                }

            }

            .nav li > a{
                border-radius: 5px;
                padding: 15px 15px;

            }

            .nav{
                overflow-x: auto;
                cursor: grab;
                cursor : -o-grab;
                cursor : -moz-grab;
                cursor : -webkit-grab;
            }
        }

        .btn-group {
            overflow: hidden;
            border-radius: 5px;     	
            margin: 0.5em 0em;
            
            a.btn {
                color:white;
            }
        }
    }
}

